*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    position: relative;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }


/* Skip link */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #4F80E2;
    color: white;
    padding: 8px;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
  }
  
  .skip-link:focus {
    top: 0;
  }


/*Header stuff - for the logo*/
.container {
    width: 100%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}

#logo-container {
    max-width: 200px;
    margin: 0 auto;
}
#logo-image {
    background-image: url(../images/innovation.png);
    max-width: 100%;
    height: 400px; 
    display: block;
}
/*End of header stuff for the logo*/

/*Header stuff - for the navbar*/
.sub-container {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(168,248,246,1) 100%);
}

.menu {
    width: 35%;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;
}
.menu > ul {
    list-style: none;
}
.menu > ul > li {
    width: 25%;
    float: left;
    
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 27px;
    padding-left: 5px;
    text-align: center;
}
.menu > ul > li > a {
    color: #3E54D3;
}
.menu > ul > li > a:active {
    color: #4F80E2;
}
/*End of header stuff - for the navbar*/

/*Main content*/
.row {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 60px;
}

#innovation-image-container {
    width: 60%;
    margin-top: 80px;
    margin: 0 auto;
}
#camp-image {
    background-image: url(../images/camp.jpeg);
    max-width: 100%;
    height: auto;
}

#chevron-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}
#chevron-image {
    max-width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#line-container {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 60px;
    height: 9px;
    border-bottom: 1px solid #4FE0B6;
    -moz-box-shadow: 0px 5px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 7px -4px rgba(0,0,0,0.75);
}

.box {
    width: 75%;
    margin: 0 auto;
    display: flex;
    display: -ms-flexbox;
    padding-bottom: 80px;
    align-items: center;
}


.circle{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: #15CDCA; 
    color: white;
    text-shadow: 3px 3px 0px#3E54D3;  
    box-shadow: -2px 4px 45px rgba(0, 0, 0, 0.13);
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
.info-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    margin-left: 50px;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    text-align: justify;
}
#left {
    margin-left: 0px;
    margin-right: 50px;
}
#when {
    font-size: 2em;
}
#why {
    font-size: 2em;
}


/*SCHEDULE*/

.schedule-image-container {
    max-width: 70%;
    margin: 0 auto;
}
#dayone {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#days{
    margin: 100px;
}
.title {
    text-align: center;
    padding-top: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 15px;
    background-color: #15CDCA;
}
.firstrow {
    padding-top: 25px;
}
.lastrow {
    padding-bottom: 25px;
}
table {
    margin: 0 auto;
}
tr {
    width: 100%;
}
.days-table{
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    width: 50%;
    
}

.table-container {
    width: 80%; 
    margin: 0 auto;
}
.table-container > table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #4F80E2;;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

.table-container th {
    color: #4F80E2;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
.table-container tr {
    text-align: center;
}
.table-container tr td {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}

.contactButton {
    border-radius:15px;
    border:2px solid #4F80E2;;
    padding: 10px 40px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.contactButton:hover, .contactButton:focus {
    background-color: #4F80E2;;
    color: white;
    transition: 0.5s ease;
}

.buttonContainer {
    width: 10%;
    margin: 0 auto;
    margin-bottom: 100px;
}
/*END OF SCHEDULE*/

/*MEDIA*/
@media (min-width: 881px) {
	.col-lg-4{
		float: left;
		width: 31.2%;
        margin: 1%;
        min-height: 200px;
        margin-bottom: 80px;
        border-bottom: 2px solid #15CDCA;
	}
}

@media (max-width: 880px) {
	.col-sm-12{
		float: left;
		width: 98%;
        margin: 1%;
        min-height: 150px;
        margin-bottom: 50px;
        border-bottom: 2px solid #15CDCA;
    }
    
    .table-container th {
        font-size: 1em;
    }
    .table-container {
        width: 100%; 
        margin: 0 auto;
    }
    #days {
        margin: 50px;
    }

    .menu {
        width: 50%;
        margin: 0 auto;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    .menu > ul > li {
        width: 25%;
        float: left;
        
        font-size: 1.2em;
        font-weight: 600;
        padding-top: 27px;
        padding-left: 5px;
        text-align: center;
    }
}

