*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: #fdfeff;
  
}

a {
	text-decoration: none;
	color: black;
}

.logo {
  margin-top: 30px;
  width: 204px;
  height: 158px;
}

/*START OF HEADER*/
.banner {
  background-color: #e74c3c;
  width: 100%;
  border-radius: 100%/0 0 700px 700px;
  /* box-shadow: 0px 2px 0px #241515; */

}
.header-logo {
  position: relative;
  width: 204px;
  height: 204px;
  margin: auto;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}
.header-language {
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  margin: auto;
  width: 70px;
  font-weight: 900;
}
.header-language > a:hover {
  color: #fdfeff;
  transition: 0.1s linear;
}
/*END OF HEADER*/


/*START OF MAIN CONTENT*/


.button {
  background-color: #272e38;
  border-bottom: 2px solid black;
  border-right: none;
  border-top: none;
  border-left: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 150px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
}
.button.active {
  background-color:#e74c3c;
}
.button:active {
  position: relative;
  top: 1px;
  outline: none;
  background-color:#e74c3c;
}
.button:focus {
  outline: none;
}
.button:hover {
  background-color:#e74c3c;
  transition: 0.2s linear;
}



.container {
	width: 100%;
  padding: 15px;
}
.row {
  width: 100%;
  margin: auto;
}

.title {
  padding-top: 80px;
  position: relative;
  margin: auto;
  width: fit-content;
  font-size: 3.0em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.spot{
  margin: 70px auto 0;
  width:15px;
  height: 15px;
  background-color: #272e38;
  border-radius: 50%;
  border: 3px solid #e74c3c;
}
.subtitle-one {
  padding-top: 70px;
  position: relative;
  margin: auto;
  width: fit-content;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.pills > ul{
  margin-top: 50px;
  list-style: none;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
}
/*END OF MAIN CONTENT*/


/*LARGE BROWSER*/
@media (min-width: 992px) {

}
/*MEDIUM BROWSER/TABLET*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*SMALL BROWSER/TABLET*/
@media  (min-width: 480px) and (max-width: 767px) {

}
/*PHONE*/
@media (max-width: 479px) {

}
